/* src/components/styles/FilterPanel.css */
.filter-panel {
    margin: 1rem;
    padding: 1rem;
    /* border: 1px solid var(--coral); */
    background-color: white;
    /* border-radius: 4px; */
    font-size: 18px;
  }

  h1 {
    margin: 0px;
    font-weight: 500;
  }

  h2 {
    margin: 0;
  }

  .price-input {
    background-color: white;
    color: var(--brown);
    border-color: var(--coral);
    font-size: 18px;
    font-family: Jost;
    margin: 1rem;
    width: 20%;
  }
  
  .apply-filters-button {
    padding: 0.5rem 1rem;
    background-color: var(--coral);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .apply-filters-button:hover {
    background-color: var(--dark-coral);
  }
  